
/*
.clearfix {
    overflow: auto;
}
*/
body, html {
    position: relative; height: 100%;   /* added for animation */
   
}
body {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
.header h1{
    font-size: 4em;
    text-align: center;
    
}
ul {
    
    text-align: center;
    margin-top: -20px;
}
ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1.5em;
    
}
a:active {
    text-decoration: none;
    color: red;
    
}
.instructions{
   /* margin-top: 3em; */
    
}

.MealDetails, .CustomerCharges, .MyEarningsInfo {
    border: solid 2px;
}

.header2{
    border-bottom: solid 2px;
    font-size: 2em;
    padding-left: 10px;
}
.container {
  /* margin-top: 3em;*/
    width: 23em;
    margin-left: auto;
    margin-right: auto;
}
.MealDetails {
    width: 23em;
   /*  float: left; 
    margin-left: 20%;
    */
    
    height: 16em;
    
   
}

.workArea{
    padding-left: 30px;
    padding-top: 10px;
}
/*
.rightSide {
    margin-top: 2em;
    width: 27em;
     border: solid 1px; 
}*/
.CustomerCharges {
    width: 23em;
    margin-top: 2em;
   
}

.MyEarningsInfo {
    width: 23em;
   
}

.inputLabel{
    text-align: right;
    border: solid 1px;
}

td:first-child {
    text-align: right;
    
}
td {
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#rowButtonRow td{
    padding-top: 2em;
}
#tipRow{
    border-top: solid 1px;
}

.spacer{
    
    width: 8em;
}
.resetRow{
    margin-top: 3em;
    text-align: center;
   
}

button{
    border-radius: 4px;
    font-size: 1em;
    box-shadow: 5px 5px gray;
    border: solid 1px;
    background-color: white;
    padding: 8px 20px;
    font-weight: bold;
}
button:hover {
    background-color: gray;
}

.resultArea{
    display: none;
    padding-top: 5em;
}

.smallInput {
    width: 30px;
}
.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../images/loading-animation.gif');
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }