
/*
.clearfix {
    overflow: auto;
}
*/
body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    font-size: 4em;
    text-align: center;
    
}
ul {
    
    text-align: center;
    margin-top: -20px;
}
ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1.5em;
    
}
a:active {
    text-decoration: none;
    color: red;
    
}
.instructions{
    margin-top: 3em;
    
}

.MealDetails, .CustomerCharges, .MyEarningsInfo {
    border: solid 2px;
}

.header2{
    border-bottom: solid 2px;
    font-size: 2em;
    padding-left: 10px;
}
.container {
   margin-top: 3em;
    width: 23em;
    margin-left: auto;
    margin-right: auto;
}
.MealDetails {
    width: 23em;
   /*  float: left; 
    margin-left: 20%;
    */
    
    height: 16em;
    
   
}

.workArea{
    padding-left: 30px;
    padding-top: 10px;
}
/*
.rightSide {
    margin-top: 2em;
    width: 27em;
     border: solid 1px; 
}*/
.CustomerCharges {
    width: 23em;
    margin-top: 2em;
   
}

.MyEarningsInfo {
    width: 23em;
   
}

.inputLabel{
    text-align: right;
    border: solid 1px;
}

td:first-child {
    text-align: right;
    
}
td {
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#rowButtonRow td{
    padding-top: 2em;
}
#tipRow{
    border-top: solid 1px;
}

.spacer{
    
    width: 8em;
}
.resetRow{
    margin-top: 3em;
    text-align: center;
   
}

button{
    border-radius: 4px;
    font-size: 1em;
    box-shadow: 5px 5px gray;
    border: solid 1px;
    background-color: white;
    padding: 8px 20px;
    font-weight: bold;
}
button:hover {
    background-color: gray;
}

.resultArea{
    display: none;
    padding-top: 5em;
}

.smallInput {
    width: 30px;
}