<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Flickr Searcher</title>
        <link href="css/style.css" rel="stylesheet"/>
        <script src="https://code.angularjs.org/1.5.0/angular.js"></script>
        
    </head>
    <body ng-controller="myCtrl">
        <div class="header center">
            <h1>Flickr Searcher</h1>
        </div>
        <form ng-submit="SearchFlickr()" name="flickrForm">
           <div class="submitRow">
                <input name="txtSearch" type="text" ng-model="search_tag" placeholder="Enter a tag to search for..." required/>
                <button type="submit">Submit</button>
           </div>
           
        </form>
        
        <div class="subHeader1" ng-if="notifySearchingMsg != '' ">
            <h3>{{ notifySearchingMsg }}</h3>
        </div>
        
        <div class="error" ng-if="httpError != '' ">
            <h3>{{ httpError }} </h3>
        </div>
        
        <div class="imagesCarousel">
            <ul>
                <div ng-repeat="ph in images.photos.photo">
                 <li>{{ph.title}}</li>
                 <li><img ng-src="https://farm{{ph.farm}}.staticflickr.com/{{ph.server}}/{{ph.id}}_{{ph.secret}}.jpg" alt="{{ph.title}}"/>
                 }}
                </div>
            </ul>
        </div>
        
        <script src="scripts/script.js"></script>
    </body>
</html>