
<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script src="https://code.angularjs.org/1.4.9/angular.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/myApp.js"></script>
    <title>Mad Libs</title>
  </head>

  <body ng-controller="MyCtrl">
      <div class="bigBox">
            <div class="clearfix">
         <div  class="logo1">
          <img src="images/mad-lib-happy-face.png" alt="Happy Face"/>
      </div>
      <div  class="logo2">
          <img src="images/ng-mad-libs-logo.png" alt="Mad Libs Logo"/>
                    <div class="bigFont">
                    Automate this!
                  </div>
      </div>
 
        </div>
        <div id="provide">
            <h1>Provide the following words:</h1>
            <p>Gender :
                <select ng-model="gender" autofocus required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </p>
            <p>Selected gender: {{ gender }}</p>
            
        </div>
        <div class="entry">
            <div class="floating-box">
                <p><input ng-model="male_name" placeholder="male name"/></p>
                <p><input ng-model="job_title" placeholder="Job Title"/></p>
                <p><input ng-model="tedious_task" placeholder="Tedious Task"/></p>
            </div>
            <div class="floating-box">
                <p><input ng-model="dirty_task" placeholder="Dirty Task"/></p>
                <p> <input ng-model="celebrity" placeholder="Celebrity"/></p>
                <p> <input ng-model="useless_skill" placeholder="Useless skill"/></p>
            </div>
            <div class="floating-box">
                <p><input ng-model="obnoxiuous_celebrity" placeholder="Obnoxiuous Celebrity"/></p>
                <p> <input ng-model="huge_number" placeholder="Huge Number"/></p>
                <p> <input ng-model="adjective" placeholder="Adjective"/></p>
            </div>
            
        </div>
            
        
        <hr/>
        <div class="workArea">
        <p>
            <span class="underline">{{male_name}}</span> was a <span class="underline">{{job_title}}</span> who loved technology.<br/>
            Although {{ getGenderPrep('he') }} loved parts of {{ getGenderPrep('his') }} job, {{ getGenderPrep('he') }} absolutely hated<br/>
            <span class="underline">{{tedious_task}}</span> and <span class="underline">{{dirty_task}}</span>. So, <span class="underline">{{male_name}}</span><br/>
            met with {{ getGenderPrep('his') }} life mentor <span class="underline">{{celebrity}}</span> who told {{ getGenderPrep('him') }} to<br/>
            learn how to <span class="underline">{{useless_skill}}</span> with Thinkful. Thinkful<br/>
            didn't offer a course on <span class="underline">{{useless_skill}}</span> so {{ getGenderPrep('he') }} studied<br/>
            programming instead.
        </p>
        <p>
            What a great decision! With {{ getGenderPrep('his') }} new skills, <span class="underline">{{male_name}}</span> <br/>
            built a(n) <span class="underline">{{adjective}}</span> robot named<br/>
            <span class="underline">{{obnoxiuous_celebrity}}</span> that not only loved <span class="underline">{{dirty_task}}</span><br/>
            but did it <span class="underline">{{huge_number}}</span> faster.
        </p>
        </div>
      </div>
          
  
  </body>

</html>