
    <div class="container" ng-controller="NewMealCtrl">
        <div class="MealDetails">
            <div class="header2">Enter the Meal Details</div>
            
                <form ng-submit="submit()" name="workForm">
                    <div class="workArea">
                        <table>
                            <tr>
                                <td>Base Meal Price: $</td>
                                <td><input type="number" ng-model="Meal.base_meal_price" required/></td>
                            </tr>
                                <tr>
                                <td>Tax Rate: %</td>
                                <td><input class="smallInput"  type="number" ng-model="Meal.tax_rate" required/></td>
                            </tr>
                                <tr>
                                <td>Tip Percentage: %</td>
                                <td><input class="smallInput"  type="number" ng-model="Meal.tip_whole" required/></td>
                            </tr>
                            <tr id="rowButtonRow">
                                <td><button type="submit">Submit</button></td>
                                <td><button ng-click="cancelMeal()">Cancel</button></td>
                            </tr>
                        </table>
                                        
                    </div>               
                </form>
        </div>

         
        
        
            <div class="CustomerCharges">
                <div class="header2">Customer Charges</div>
                
                    <div class="workArea">
                        <table>
                            <tr>
                                <td></td>
                                <td><div class="spacer"></div></td>
                            </tr>
                            <tr>
                                <td>Subtotal</td>
                                <td>{{ Customer.subtotal | currency}}</td>
                            </tr>
                            <tr>
                                <td>Tip</td>
                                <td>{{ Customer.tip | currency }}</td>
                            </tr>
                            <tr>
                                <td id="tipRow">Total</td>
                                <td id="tipRow">{{ Customer.total | currency }}</td>
                            </tr>
                        </table>
                        
                        
                    </div>               
                
                </div>
            
            
        </div>