/* Styles go here */

body {
    border: solid 5px;
    padding-bottom: 5em;
}
.bigBox {
    border:3px solid;
}
.underline {
  text-decoration: underline; 
  font-weight: bold;
  font-size: 1.5em;
}
.bigLetters {
     font-size: 1.5em;
}
div.solid {
    /* border: 3px solid; */
    height: 200px;
}
table {
    width: 100%;
    border-spacing: 0;
   /* border: 3px solid; */
}
tr {
    border: 1px solid; 
}
td h1 {
    padding-left: 100px;
}
.bigFont {
    font-size: 50px;
}
.logo1 {
    text-align: center;
    border-right: 3px solid;
    float: left;
   width: 20%;;
   line-height: 30px;
}

.logo2 {
   
    float:right;
    width: 65%;
    line-height: 66px;
    padding-left: 100px;
  
}
.clearfix {
    overflow: auto;
    border-bottom: solid 3px;
}
#provide {
 
    padding-left: 100px;
}
.entry{
  padding-left: 50px;
  overflow: auto;
  border-bottom: solid 1px;
  
}
.floating-box {
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    
    padding-left: 50px;
    
    
}


.left, .right {
    display: table-cell;
    padding-right: 25px;
}
.middle{
    text-align: center;
}

.workArea {
    /*border: solid; */
    padding-left: 300px;
    margin: auto;
    
    border: 1px solid black;
    overflow: hidden;
    transition: all linear 1.5s;
}

.workArea.ng-enter,
.workArea.ng-leave.ng-leave-active
{
    max-height: 0;
}

.workArea.ng-leave,
.workArea.ng-enter.ng-enter-active  {
    max-height: 46em;
}

.submit_form {
    border: solid 1px;
}
.validateArea{
   
    /*
    position: absolute; 
    right: 100px; */
   /*  float: right;
    */
     margin-top: 2em; 
   
    
}

.error{
    clear: both;
    color: red;
    font-size: 2em;
    
    margin-left: 50px;
    margin-top: 200px;
   
}

.canHide{
    display: none;
}

.posButton{
    
    width:20%;
    margin-left: 80%;
}
button {
    
    margin: 0.5rem;
    font-size: 0.8em;
    padding: 1rem 1.5rem;
    border-radius: 6px;
}